.container * {
    /* border: 1px solid red; */
    position: relative;
}

.container *:after {
    /* content: attr(class); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
}

.container2 {

    display: grid;
    grid-template-columns: 3fr 1fr;
}